.accordion-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.accordion-item h2 {
  font-size: 1.2em;
  color: #333;
  flex: 1;
}

.accordion-item p {
  margin: 5px;
  flex: 1;
}

.accordion-item strong {
  color: #555;
  flex: 1;
}

.accordion-item a {
  color: blue;
  text-decoration: none;
  flex: 1;
}

.accordion-item a:hover {
  text-decoration: underline;
  flex: 1;
}
