:root {
  --primary-color: #0077cc;
  --secondary-color: #333;
  --text-color: #000; 
  --hint-color: #ffffff;
  --link-color: var(--primary-color);
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: left;
}

th {
  cursor: pointer;
  background-color: #f2f2f2;
}

th:hover {
  background-color: #e6e6e6;
}

td a {
  color: var(--link-color);
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
  color: var(--link-color);
}

/* Media Query für mobile Geräte */
@media only screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Verstecke die Tabellenkopfzeile */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  td {
  }
}

.info-icon {
  color: var(--link-color);;
  cursor: pointer;
}

.info-popup {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.info-popup p {
  margin: 0;
}

/* DISCLAIMER LOGIC */
.disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  color: var(--hint-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  z-index: 10000;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  overflow-y: auto;
}

.disclaimer-content {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow-y: auto;
}

.disclaimer button {
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.disclaimer button:hover {
  background-color: #0056b3;
}

.disclaimer-content .buttons-container {
  display: flex;
  justify-content: center;
}

.disclaimer-content a {
  color: var(--hint-color);
}

.disclaimer-content a:hover {
  color: var(--hint-color);
}

button.decline-button {
  background-color: #ff7575;
}

button.decline-button:hover {
  background-color: #ff4f4f;
}


/* Header */
.header {
  background-color: #0077cc;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Stelle sicher, dass der Header über anderen Inhalten liegt */
}

.header h1 {
  margin: 0;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  height: 20px;
}

.github-icon {
  color: white;
  font-size: 2em;
  margin-left: 20px;
}

.footer-left {
  margin-left: 20px;
}

.footer-right {
  margin-right: 20px;
}